<div class="row my-4">
    <div class="col-12 col-md-8">
        <h3>{{blog.title}}</h3>
        <div class="timestamp">{{formatDate blog.createdAt 'MMMM Do YYYY , h:mm:ss a'}}</div>
        <hr>
        <div class="divider"></div>
        <div class="text">{{{blog.body}}}</div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card mx-3">
            <div class="card-body text-center side-image">
                <img src="{{blog.user.image}}" alt="">
            </div>
            <div class="card-footer text-center bg-primary text-white">
                {{blog.user.displayName}}
            </div>
        </div>
    </div>
</div>
